@namespace w url("http://www.gov.org/west");
@namespace e url("http://www.gov.org/east");

allStates {
  display: block;
  font-family: sans-serif;
  padding: 2rem;
}

*[region="west"] {
  display: block;
  background-color: lightblue;
  margin: 4px 0;
  padding: 4px 8px;
}

*[region="east"] {
  display: block;
  background-color: lightcoral;
  margin: 4px 0;
  padding: 4px 8px;
}

w|n, e|n {
  display: inline;
  font-weight: bold;
}

w|capital, e|capital {
  display: inline;
  margin-left: 1rem;
}

w|region, e|region {
  display: inline;
  margin-left: 1rem;
  font-size: 0.8rem;
}
